.center .grid-con {
    grid-column: 2/3;
}

body {
    font-family: 'Montserrat';
}

p, h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

.box {
    text-align: center;

    background-color: white;
    filter: drop-shadow(0 1px 2px gray);
    border-radius: 2px;

    padding: 10px 0;
    margin-bottom: 20px;
}

.line {
    border-bottom: 1px solid black;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
    color: white;
}

.light-gray {
    background-color: #eaeaea;
}

.red {
    background-color: #D0181A;
}

.dark-gray {
    background-color: #1D1D1D;
}

.light-gray {
    background-color: #F0F0F0;
}

.black .box {
    color: black;
}

.r-hover:hover {
    color: #D0181A;
}

#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

#header-logo img {
    width: 180px;
}

#burger {
    text-align: right;
    margin-right: 10px;
}

#burger img {
    width: 60px;
    height: 60px;
}

#event-title {
    color: #D0181A;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#event-title span {
    color: #000000;
}

#menu-line1 {
    border-bottom: 2px solid #D0181A;
    margin-left: 15vw;
    margin-right: 5vw;
}

#menu-line2 {
    border-bottom: 2px solid #000000;
    margin: 5px 2vw;
}

#top-menu ul {
    list-style-type: none;
    text-transform: uppercase;
}

#top-menu.open li {
    margin-bottom: 25px;
}

#top-menu.open {
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 100vh;
}

.about {
    color: white;
}

.float-right {
    float: right;
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    padding: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.icons .box {
    width: 40px;
    margin: 0 10px;
}

.img-flex {
    display: flex;
    flex-wrap: wrap;
}

.img1 {
    width: 60%;
    height: auto;
}

.img2 {
    margin-top: 10px;
    width: 40%;
    height: auto;
}

.img3 {
    width: 100%;
    height: auto;
}

#footer {
    padding: 20px 0 40px 0;
}

.bottom-menu {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.bottom-menu ul {
    list-style-type: none;
    color: #ffffff;
}

.bottom-menu li {
    font-weight: 500;
    margin-top: 25px;
}

#p-info2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 15px 30px;
    height: fit-content;
}

.icons {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.icons img {
    width: 35px;
}

